# Add your third-party Pythrequests: A library for making HTTP requests in Python.

- BeautifulSoup
- geopandas
- pandas
- unittest
- typing
- os
- re
- math
- glob
- create_engine (from SQLAlchemy)
- patch (from unittest.mock)
- sqlite3
- matplotlib
- seaborn
- scipy
- numpy
- %matplotlib notebook (magic command for Jupyter notebooks)
- FuncAnimation (from matplotlib.animation)
- folium
- HeatMap (from folium.plugins)
- inspect
- datetime











